<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Cars</title>
    <link rel="stylesheet" href="/stylesheets/cars.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="container">
        <div class="sidebar">
            <a href="/cars">Home page</a>
            <a href="/cars/search">Search posts</a>
            <a href="/profile">My posts</a>
            <a href="/auth/sign-out">Sign out</a>
        </div>
        <div class="main-content">
            <div class="title">
                <h1>All Cars</h1>
            </div>
            <div class="car-grid">
                <% cars.forEach(car => { %>
                <div class="car-card">
                    <% if (car.photo) { %>
                        <img src="<%= car.photo %>" alt="Photo of <%= car.name %>">
                    <% } %>
                    <h2><a href="/cars/<%= car._id %>"><%= car.name %></a></h2>
                    <p>Make: <%= car.make %></p>
                    <p>Colour: <%= car.colour %></p>
                    <p>Drivetrain: <%= car.drivetrain %></p>
                    <p>Year: <%= car.year %></p>
                    <p>Location: <%= car.location %></p>
                    <form class="favorite-form" action="/cars/<%= car._id %>/favorite" method="POST">
                        <button type="submit" class="<%= car.favouritedByUser.includes(user._id) ? 'favorited' : '' %>">
                            <%= car.favouritedByUser.includes(user._id) ? 'Favorited' : 'Favorite' %>
                        </button>
                    </form>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
    <script src="/scripts/favorite.js"></script>
</body>
</html>
