<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Cars</title>
    <link rel="stylesheet" href="/stylesheets/cars.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../partials/_navbar') %>
    <div class="container">
        <div class="sidebar">
            <a href="/cars">Home page</a>
            <a href="/cars/search">Search posts</a>
            <a href="/users/<%= user._id %>/cars">My posts</a>
            <a href="/auth/sign-out">Sign out</a>
        </div>
        <div class="main-content">
            <h1>All Cars</h1>
            <div class="cars-list">
                <% cars.forEach(car => { %>
                <div class="car-card">
                    <h2><a href="/cars/<%= car._id %>"><%= car.name %></a></h2>
                    <p>Make: <%= car.make %></p>
                    <p>Colour: <%= car.colour %></p>
                    <form action="/cars/<%= car._id %>/favorite" method="POST">
                        <button type="submit">Favorite</button>
                    </form>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>

