<!DOCTYPE html>
<html>
<head>
    <title><%= car.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= car.name %></h1>
    <p>Make: <%= car.make %></p>
    <p>Colour: <%= car.colour %></p>
    <p>Drivetrain: <%= car.drivetrain %></p>
    <p>Year: <%= car.year %></p>
    <p>Location: <%= car.location %></p>
    <p>Owner: <%= car.owner.username %></p>
    <a href="/cars/<%= car._id %>/edit">Edit</a>
    <form action="/cars/<%= car._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    <a href="/cars">Back to list</a>
</body>
</html>
